<section class="planner-section">
    <h1 class="planner-title">Planner page</h1>
    <div class="planner-container">
        <div class="planner">
            <div class="planner-actions">
                <input [(ngModel)]="inputValue"  class="task-input" type="text" placeholder="Add new task..." />
                <button (click)="addTask()" class="task-add-btn">Add</button>
            </div>
            <div class="planner-tasks">
                <div class="planner-task" *ngFor="let task of plannerTasks; let i = index">
                    <input [(ngModel)]="task.done" type="checkbox"/>
                    <p>{{ task.text }}</p>
                    <button (click)="deleteTask(i)">x</button>
                </div>
            </div>
        </div>
    </div>
    {{ plannerTasks | json }}
</section>
