<section class="login-section">
  <div class="login-form-container">
    <form *ngIf="loginForm" [formGroup]="loginForm" class="login-form">
      <div class="login-form-header">
        <span class="header-main-text">Welcome back !</span>
        <span class="header-sub-text">Sign in to continue</span>
      </div>

      <div class="login-form-content">
        <div class="profile-image-container">
          <div
            [ngStyle]="{ 'background-image': 'url(' + image + ')' }"
            class="profile-image"></div>
        </div>

        <div class="form-field">
          <label class="label" for="username">Username</label>
          <input
            [ngClass]="{
              'field-error':
                loginForm.get('username')?.invalid &&
                loginForm.get('username')?.touched
            }"
            formControlName="username"
            class="input"
            id="username"
            placeholder="Enter username"
            type="text" />
          <small
            *ngIf="
              loginForm.get('username')?.hasError('required') &&
              loginForm.get('username')?.touched
            "
            class="error">
            This field is required
          </small>
          <small
            *ngIf="
              loginForm.get('username')?.hasError('minlength') &&
              loginForm.get('username')?.touched
            "
            class="error">
            Value should be at least 3 characters
          </small>
        </div>
        <div class="form-field">
          <label class="label" for="password">Password</label>
          <input
            formControlName="password"
            class="input"
            id="password"
            placeholder="Enter password"
            type="password" />
        </div>
        <div class="checkbox-form-field">
          <input formControlName="remember" id="remember" type="checkbox" />
          <label for="remember">Remember me</label>
        </div>
        <button
          [disabled]="loginForm.invalid"
          (click)="login()"
          class="submit-btn"
          type="button">
          Log in
        </button>
      </div>
    </form>
  </div>
</section>
